@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


.card{
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#logo{
    height: 2em;
    width: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 1%;
}

#title-and-location{
    margin: 1%;
    padding: 1%;
}

#menu-dots{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
}
#icons{
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#heart{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}

#message{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}

#send{
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}



